@use "./../scss/base";

.profile-container {
    width: 80%;
    display: flex;
    margin-left: 10%;
    // background-color: rgb(221, 106, 56);


.image img {
    width: 100px;
    height: auto;
    border-radius: 50px;
    // background-color: base.$primary-color;
    // float:ceil($number: 5);
}
button {
    background-color: base.$secondary-color;
    color: base.$color-white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
}
}

.followersCard{
    display:flex;
    // background-color: aqua;
    width: 60%;
    justify-content: space-between;
    margin-left: 40px;
}

.slogan {
    margin-left: 20%;
}

@media only screen and (max-width:320px){
    .profile-container{
        // background-color: aqua;
        width: 100%;
        display:flex ;
        flex-direction: column;
        margin-left: 10px;

    .profile {
        display: flex;
    }


    .profile .image img{
        width: 40px;
        height: 40px;
        margin-top: 5%;
    }
    .profile h3{
        margin-left: 5%;
    }

    p{
        margin-right: 5%;
    }

    .followersCard{
        width: 80%;
        margin-left: 2%;
        margin-top: -10%;
        margin-bottom: 10%;
    }
    
    button{
        width: 100px;
        height: auto;
    }
}
}

@media only screen and (max-width:720px){

}
