@use "./../scss/base";


#hero{
    
    background-color: base.$secondary-color;
    width: 40%;
    height: 2.5rem;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 25%;
}

form {
    display: flex;
}
input{
    margin-top: 5px;
}
#search-icon{
    margin-left: 10px;
    margin-top: 2px;
}

::placeholder{
    font-weight: lighter;
    color: grey;
    padding-left: 0px;
}

.eachrepo{
    width: 70%;
    background: linear-gradient(to right, rgba(19, 25, 48, 1), rgba(28, 28, 69, 0.4));
    margin-left: 15%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

@media only screen and (max-width:320px){
    #hero {
        // background-color: green;
        width: 100%;
        margin-right: 10%;
    }

    .eachrepo{
        margin-right: 10%;
    }
}

@media only screen and (max-width:720px) {

    #hero {
        margin-left: 50px;
        width: 80%;
        border-radius:10px;
        // margin-right: 5px;
        // height: 2.5rem;
        // flex-direction: row;
        // justify-content: space-between;
        // padding-top: -20px;


    //     form {
    //         height: 2.5rem;
    //         width: 100%;
    //         display: flex;
    //     }

    //     ::placeholder {
    //         padding-left: 10px;
    //     }

    //     #search-icon {
    //         padding-left: 0px;
    //     }
    }
}