@use "./../scss/base";

.input-wrapper{
    
    background-color: base.$primary-color;
    width: 50%;
    height: 2.5rem;
    border-radius: 10px;
    margin-left: 30% ;
    margin-top: 10px;
    display: flex;
    align-items: center;
    
    
}
    
input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.0rem;
    width: 90%;
    margin-left: 15px;
   
}
input:focus{
    outline: none;
}
::placeholder{
    font-weight: 400;
    color: base.$color-white;
}
#search-icon{
    padding-left: 20px;
    color: grey;
}
